# Whitelist
*

# Directories
!src/
!src/**
!lib/
!lib/**
!test/
!test/**
!extern/
!extern/**
!include/
!include/**
!intern/
!intern/**
!extern/
!extern/**

# Files
!.gitignore
!CMakeLists.txt
!CMakePresets.json
!README.md
!LICENSE.md